@model IEnumerable<ISHTIAQ.Models.Car>

@{
    ViewBag.Title = "Index";
}
<h2>Car Details</h2>

@using (Html.BeginForm("Index", "Cars", FormMethod.Get))
{
    <b>SearchBy: </b> @Html.RadioButton("SearchBy", "Number", true)<text>   Number   </text>
    @Html.RadioButton("SearchBy", "Model")<text >   Model   </text>

    @Html.TextBox("Search") <input class="bg-primary" type="submit" value="Search" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
